{% extends 'TrackoCoreBundle:Base:responsive.html.twig' %}

{% block content -%}
    <h1>Event creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
