{% extends 'TrackoCoreBundle:Base:landingPage.html.twig' %}
{% block content %}
<div class="loginPage">
    <section class="content">
     {% image '@TrackoCoreBundle/Resources/public/images/Logo.png' %}
                    <img src="{{ asset_url }}" class="logo" alt="Tracko"/>
                    {% endimage %}
        <span class="subtitle">The easiest way to track events</span>
        <form action="" method="POST">
        <div class="loginArea">
            <input type="text" placeholder="Username" />
            <input type="text" placeholder="Password" />
            <input type="submit" value="Login >" />
            <a href="#">Forgot your password?</a>
        </div>
        </form>
    </section>
</div>
{% endblock %}